body{
    background-color:beige;
}
#main{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-color: black;
    
}

#main p{
    font-size: 20px;
    text-align: justify;
}
#main h1{
    text-align: center;
    padding-bottom: 20px;
    font: sans-serif;
}

body h3{
    text-align: center;
    font: sans-serif;
    padding-bottom: 20px;
}

#first{
    padding-top: 50px;
}



#description1, #description2, #description3, #description4, #description5, #description6{
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.row1{
    display: block;
}


